@import "../../styles/variables.scss";

.card-clase {
  padding: 4px 16px !important;
  background: rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  border-left: 8px solid $blanco !important;
  h2 {
    text-transform: unset;
  }
}

.categories-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
}
