@import "../../styles/variables.scss";

.active {
  border-bottom: none;
}

.button-arrows button {
  background-color: transparent !important;
  border: none !important;
  font-size: 52px !important;
  padding: 0 !important;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.card {
  border-radius: 8px !important;
  border: 1px solid $gris_1 !important;
  background: linear-gradient(
    180deg,
    rgba(197, 199, 208, 0.2) 0%,
    rgba(197, 199, 208, 0.1) 100%
  ) !important;
  backdrop-filter: blur(100px) !important;
  color: $blanco !important;
  padding: 20px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 8px !important;
}
